a{
    text-decoration:none;
}
p{
    display:inline-block;
}
.mydivcourier1{
    width:100%;
}
.mydivcourier1{
    padding-top:10px;
    padding-left:13%;
    color: #fff;
    background:#666;
    height:50px;
}
.mydivcourier1>p{
    display:inline;
    margin-left:40px;
    margin-right:40px;
    font-size:20px;
    text-align:center;
    position:relative;
    vertical-align:middle;
}
.mydivcourier1>p>a{
    color:white;
    text-decoration:underline;
    vertical-align:middle;
}
.mydivcourier1>p>a:hover{
    color:white;
}

.crlink{
    display:inline-block;
}
.link1{
    width:120px;
    display:inline-block;
    border-bottom:1px solid #a2a2a2;
}
.link2{
    margin-left:10px;
    display:inline-block;
    border-bottom:1px solid #a2a2a2;
}
.row{
    display:inline-block;
    width:85%;
    padding-left:25px;
}