a{
    text-decoration:none;
}
p{
    display:inline-block;
}
.mydivcourier1{
    padding-left:13%;
    color: #fff;
    background:#666;
    height:50px;
    padding-top:10px;
}
.mydivcourier1>p{
    margin-right:20px;
    font-size:20px;
    text-align:center;
    position:relative;
}
.mydivcourier1>p>a{
    color:white;
    vertical-align:top;
    right:50px;
    text-decoration:underline;
}
.mydivcourier1>p>a:hover{
    color:white;
}
TD>img{
    max-width:450px;
}
.latlng{
    text-decoration:underline;
}
.phone{
    font-weight:600;
    text-decoration:underline;
    color:#666;
}
.raion{
    text-transform:uppercase;
    font-weight:700;
}